PORT=3000
NODE_ENV=development
DATABASE_URL=postgres://user:password@localhost:5432/crm_sign_medios
JWT_SECRET=change-me
WHATSAPP_TOKEN=change-me
# URL real de Meta WhatsApp Business API
# Ej: https://graph.instagram.com/v20.0/PHONE_NUMBER_ID/messages
WHATSAPP_API_URL=https://graph.instagram.com/v20.0/PHONE_NUMBER_ID/messages
